{% extends "base.html" %}

{% block title %}{{block.super}} - Pricing{% endblock title %}



{% block content %}

<div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8 dark:bg-gray-900">
  <div aria-hidden="true" class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl">
    <div
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      class="mx-auto aspect-1155/678 w-288.75 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 dark:opacity-20">
    </div>
  </div>
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400">Pricing</h2>
    <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-6xl dark:text-white">Choose
      the right plan for you</p>
  </div>
  <br><br>
  <div class="flex justify-center">


    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
      <li class="me-2">
        <a href="{{ monthPath }}" class="{% if active == 'month' %}
        inline-block px-4 py-3 text-white bg-blue-600 rounded-lg active
        {% else %}
        inline-block px-4 py-3 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white
        {% endif %}"
          aria-current="page">Monthly</a>
      </li>
      <li class="me-2">
        <a href="{{ yearPath }}"
          class="{% if active == 'year' %}
          inline-block px-4 py-3 text-white bg-blue-600 rounded-lg active
          {% else %}
          inline-block px-4 py-3 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white
          {% endif %}">
          Yearly
        </a>
      </li>
    </ul>



  </div>
  <br><br>
  <div class="mx-auto mt-16 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 max-w-7xl sm:mt-20">
    {% for price_obj in interval %}
    {% include "subscription/snippets/pricing-card.html" with object=price_obj %}
    {% endfor %}

  </div>
</div>

{% endblock content %}